.field {
  margin-bottom: 20px;
}

.field input {
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
  border-radius: 10px;
}

.field input::placeholder {
  color: #aaa;
  /* text-align: center; */
}

.field input:focus {
  border-bottom-color: #3f2de2;
}
